/* General */
/* *, *:before, *:after {
  box-sizing: inherit;
} */

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 30px 0; 
}

h2 {
  font-size: 12px;
}

/* Margins */
.all-nav-container, 
.card-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation */
header { 
  background-color: #272727;
  /* max-height: 150px; */
}

.navText {
  font-size: 14px;
  color: white;
  margin-right: 40px;
}

.usernameText {
  color: #66c9fe;
  margin-right: 8px
}

.icon {
  width: 20px;
  margin-right: 10px;
}
.drop-down-arrow {
  transform: rotate(180deg);
  width: 10px;
}

.logo {
  width: 140px;
  margin-top: 20px;
  /* float: right; */
}

.all-nav-container, 
.nav-admin-container {
  display: flex;
  justify-content: space-between;
}

.all-nav-container {
  padding-bottom: 20px;
  padding-top: 10px;
}

.nav-bottom-left-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Main Background */
main {
  background-color: #eeeeef;
  padding: 20px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-right: 0;
  padding-right: 0;
}

/* Top Half Card */

.card {
  background-color: white;
  box-shadow: 5px 3px 8px grey;
}

.top-half-card-container {
  position: relative;
  top: 0;
  left: 0;
  background: black;
}

figure {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
}

.adventure-image {
  display: block;
  width: 100%;
  opacity: .6;
}

figure img {
  margin: -4.875% 0;
}

.reply-icon {
  width: 60px;
  transform: scaleX(-1);
  position: absolute;
  top: 20px;
  left: 20px;
}

.views-pic-right-container {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: justify;
}

.views, 
.number {
  color: white;
}

.number {
  font-size: 30px;
}

/* Bottom Half Card */
.bottom-half-card-container {
  height: 200px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-date-container {
  display: flex;
  flex-direction: column;
}

.date, 
.link {
  font-size: 12px;
}

.link {
  background-color: #eeeeef;
  padding: 5px;
  word-wrap: break-word;
  hyphens: auto;
}

.bottom-number {
  color: #66c9fe
}

span, 
h2 {
  margin-bottom: 4px;
}

.hidden {
  display: none;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile  */
@media screen and (max-width: 570px) {

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo {
    display: none;
  } 

  .navText {
    display: none;
  }
}
